{%if message !="0"%}
    <div class="col-md-12 alert alert-warning"><ul>{{message|raw}}</ul></div> 
        {%endif%}
<div class="col-md-12"> 

    <form action="" method="post"> 
        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>Daily Offer Percentage(Just Number)</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Daily Happy Hour(8pm-10pm):</label>
                <div class="controls">
                    <input type="text" name="happy_hour_percentage" class="form-control" value="{{happy_hour_percentage}}"  />
                </div>
            </div>
        </div> 

        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>CHEESE PIZZA</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="cheese_pizza_personal" class="form-control" value="{{cheese_pizza_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="cheese_pizza_small" class="form-control" value="{{cheese_pizza_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="cheese_pizza_medium" class="form-control" value="{{cheese_pizza_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="cheese_pizza_large" class="form-control" value="{{cheese_pizza_large}}"  />
                </div>
            </div>
        </div>  
        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>PEPPERONI PIZZA</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="pepperoni_pizza_personal" class="form-control" value="{{pepperoni_pizza_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="pepperoni_pizza_small" class="form-control" value="{{pepperoni_pizza_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="pepperoni_pizza_medium" class="form-control" value="{{pepperoni_pizza_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="pepperoni_pizza_large" class="form-control" value="{{pepperoni_pizza_large}}"  />
                </div>
            </div>
        </div>  
        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>HUM & PINEPPLE PIZZA</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="ham_pinepple_personal" class="form-control" value="{{ham_pinepple_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="ham_pinepple_small" class="form-control" value="{{ham_pinepple_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="ham_pinepple_medium" class="form-control" value="{{ham_pinepple_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="ham_pinepple_large" class="form-control" value="{{ham_pinepple_large}}"  />
                </div>
            </div>
        </div>  
        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>SPECIALITY TOPPINGS</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="speciality_toppings_personal" class="form-control" value="{{speciality_toppings_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="speciality_toppings_small" class="form-control" value="{{speciality_toppings_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="speciality_toppings_medium" class="form-control" value="{{speciality_toppings_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="speciality_toppings_large" class="form-control" value="{{speciality_toppings_large}}"  />
                </div>
            </div>
        </div>  

        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>GOURMET TOPPINGS</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="gourmet_toppings_personal" class="form-control" value="{{gourmet_toppings_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="gourmet_toppings_small" class="form-control" value="{{gourmet_toppings_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="gourmet_toppings_medium" class="form-control" value="{{gourmet_toppings_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="gourmet_toppings_large" class="form-control" value="{{gourmet_toppings_large}}"  />
                </div>
            </div>
        </div>  

        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>ULTIMATE TOPPINGS</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="ultimate_toppings_personal" class="form-control" value="{{ultimate_toppings_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="ultimate_toppings_small" class="form-control" value="{{ultimate_toppings_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="ultimate_toppings_medium" class="form-control" value="{{ultimate_toppings_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="ultimate_toppings_large" class="form-control" value="{{ultimate_toppings_large}}"  />
                </div>
            </div>
        </div> 

        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>EXTRA CHEESE</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="extra_cheese_personal" class="form-control" value="{{extra_cheese_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="extra_cheese_small" class="form-control" value="{{extra_cheese_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="extra_cheese_medium" class="form-control" value="{{extra_cheese_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="extra_cheese_large" class="form-control" value="{{extra_cheese_large}}"  />
                </div>
            </div>
        </div> 

        <div class="control-group alert alert-success" style="margin-top: 15px;">
            <h2>DAIYA PIZZA</h2>
            <div class="col-lg-6">
                <label for="inputEmail" class="control-label">Personal</label>
                <div class="controls">
                    <input type="text" name="daiya_cheese_personal" class="form-control" value="{{daiya_cheese_personal}}"  />
                </div>
                <label for="inputEmail" class="control-label">Small</label>
                <div class="controls">
                    <input type="text" name="daiya_cheese_small" class="form-control" value="{{daiya_cheese_small}}"  />
                </div>
                <label for="inputEmail" class="control-label">Medium</label>
                <div class="controls">
                    <input type="text" name="daiya_cheese_medium" class="form-control" value="{{daiya_cheese_medium}}"  />
                </div>
                <label for="inputEmail" class="control-label">Large</label>
                <div class="controls">
                    <input type="text" name="daiya_cheese_large" class="form-control" value="{{daiya_cheese_large}}"  />
                </div>
            </div>
        </div>  
        <input type="submit" class="btn btn-primary" style="background: #007bff !important;" name="set_settings" value="Update" />
    </form>

</div>